<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-heigth, initial-scale=1">
    <title>{{app.title}}</title>
    {% for url in app.stylesheets %}
    <link rel="stylesheet" href="{{ url }}">
    {% end %}
    <style type="text/css">
        {% raw app.css %}
    </style>
</head>
{% raw root.html %}
</html>
